body {
    text-align: center;
	background:#393;
}
#newGame{
	background-color:#F00;
	border-radius:5px;
	width:100px;
	height:50px;
}
.startGame .row div{
	display:inline-block;
	cursor:pointer;
}
#theGame{
	display:none;
}
.row-hearts img{
	height:40px;
	width:40px;
}
#lose,#win{
	display:none;
}
#winimg{
	height:500px;
	width:700px;
}
.again{
	border-radius:5px;
	background-color:#F00;
	width:100px;
	height:50px;
}
